@tailwind base;
@tailwind components;
@tailwind utilities;

.prose table {
  table-layout: fixed;
}

.prose table:only-child {
  @apply my-0;
}

.prose table tr {
  @apply border-base-300;
}

.prose table td,
.prose table th {
  vertical-align: top;
  white-space: pre-wrap;

  @apply border border-base-300 px-6;
}

.prose table th {
  @apply py-4 text-center;
}
.prose table td {
  @apply py-6;
}

.prose table h3:first-child {
  margin-top: 0;
}

.prose.text-primary-content a,
.prose.text-primary-content h3,
.prose.text-primary-content h2,
.prose.text-primary-content li {
  color: inherit;
}

/* When lists are not margined-left enough */
.prose ol {
  padding-left: 3em;
}

.prose ol > li {
  padding-left: 0;
}
